/*/* IMPORTS */
/*@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* NORMALIZACIÓN */
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
/*
:root {
    /* colores */
 /*   --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --negro: #000000;
    --blanco: #ffffff;
    /* tamaños de fuentes */
/*   --text-sm: 1.2em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    /* familias de fuentes */
  /*  --roboto: "Roboto", sans-serif;
}

/* ESTILOS COMUNES */
/*
html {
    font-size: 62.5%;
    font-family: var(--roboto);
}

h3 {
    font-size: var(--title-md);
}

p {
    font-size: var(--text-sm);
}
/* CABECERA */
/*
header {
    background-color: var(--amarillo);
}

div.top-header {
    padding: 5%;
}

header picture.logo {
    display: block;
    width: 50%;
}

header nav {
    font-size: var(--text-sm);
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: var(--negro);
}

header .form .input {
    background-color: var(--blanco);
    border: 1px solid var(--negro);
    color: var(--gris-oscuro);
    padding: 2px;
}

header .form .submit {
    background-color: var(--blanco);
    border: 1px solid var(--negro);
    width: 18px;
    padding: 2px;
}

header div.top-header p {
    text-align: center;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044aa;
    font-size: 20px;
    color: var(--blanco);
    height: 40px;
    width: 40px;
    margin: 10px 0 20px 0;         
    padding: 10px;
    border-radius: 5px;
}
/* BANNER */
/*
section.banner img{
    width: 100%;
}

footer article p {
    padding: 20px;
    text-align: center;
}
/* MAIN */
/*
main {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

main section article img{
    width: 100%;
}
*/

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}



div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
    width: auto;
}

header div.logo,
header .form{
    width: 50%;

}

header div.logo{
    padding: 10px;
    margin-bottom: 80px;
    
}
header .form{
    font-size: 11px;
    margin-left: 1px;
    margin-top: -83px;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 200px;

}


header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: rgb(0, 0, 0);
    width: 20px;
    font-size: 17px;
    margin-top: -20px;
    margin-left: 216px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
    display: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}
header .letra{
    text-align: center;
    margin-top: -55px;
    margin-bottom: 15px;
    font-size: 13px;
    position: initial;

}
div.burger-menu{
    text-align: center;
    margin-top: -7px;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
.tarjet{
    font-size: 12px;
}
/* RESPONSIVE*/
@media (min-width: 361px){
    header ul li{
        display: block;
    }
    div.burger-menu{
        display: none;
    }
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

/*FOOTER*/
footer{
    
    margin-left: 40px;
    margin-right: 40px;
}
.tarjet{
   text-align: center;
    margin-bottom: 10px;
    color: blue;
    font-size:30px;
    margin-top: 100px;
    
}
.letrap{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}
h4{
    font-size: 17px;
}
.regalo{
    
text-align: center;
    margin-bottom: 10px;
    color: blue;
    font-size:30px;
    margin-top: 70px;
}
.letrap1{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px
}
.seguridad{
    text-align: center;
    margin-bottom: 10px;
    color: blue;
    font-size:30px;
    margin-top: 70px;
}
.letrap2{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px
}
.letrap3{
    display: flex;
    position: relative;
    right: 25px;
    font-size: 13px;
    text-align: left;
    margin-bottom: 20px
}